configuration{
    modi: "drun";
    lines: 5;
    font: "UbuntuMono Nerd Font 12";
    show-icons: false;
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    sidebar-mode: false;
}

@theme "~/.local/share/rofi/themes/default.rafi"
