/*--------------------------------------------------------------------------------
 *    Colors 
 *-------------------------------------------------------------------------------*/

@define-color background            #282828;
@define-color hard_background       #1B1B1B;
@define-color second_background     #45403D;
@define-color foreground            #EBDBB2;
@define-color selection_foreground  #D8A657;
@define-color selection_background  #3c3836;
@define-color color_blue            #7DAEA3;
@define-color color_green           #A9B665;
@define-color color_yellow          #D8A657;
@define-color color_red        	    #EA6962;
@define-color color_purple          #d3869B;
@define-color color_aqua            #89B482;
@define-color color_grey            #7C6F64;
@define-color color_white           #A89984;



/*--------------------------------------------------------------------------------
 *    General 
 *-------------------------------------------------------------------------------*/

*{
    font-family: Iosevka Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}



/*--------------------------------------------------------------------------------
 *    Sections 
 *-------------------------------------------------------------------------------*/

.modules-right {
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;

}

.modules-center {
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}

.modules-left {
    background-color: @background;
    border-top: 3px solid;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}



/*--------------------------------------------------------------------------------
 *    Left Modules 
 *-------------------------------------------------------------------------------*/

#workspaces {
    background-color: @background;
    color: @foreground;
    padding-left: 1em;
}
#workspaces button {
    color: @foreground;
    padding: 0 6px;
}
#workspaces button:hover {
    background-color: @color_aqua;
    color: #000000;
}
#workspaces button.active {
    color: @color_red;
}
#workspaces button.active:hover {
    background-color: @color_aqua;
    color: #000000;
}

#clock {
    background-color: @background;
    padding-right: 1em; 
    padding-left: 1em;
    border-right: 3px;
    border-right-style: solid;
    border-right-color: @color_yellow;
}



/*--------------------------------------------------------------------------------
 *    Right Modules 
 *-------------------------------------------------------------------------------*/

#temperature {
    padding-left: 1em;
    padding-right: 0.5em;
}

#memory {
    padding-left: 1em;
    padding-right: 0.5em;
    margin-right: 1em;
}

#cpu {
    padding-right: 0.5em;
    padding-left: 1em;
    border-left: 3px;
    border-left-style: solid;
    border-left-color: @color_green;
}

#network {
    padding-right: 2em;
    padding-left: 1em;
}

#network.disconnected {
}
