/*--------------------------------------------------------------------------------
 * Colors 
 *-------------------------------------------------------------------------------*/

@define-color bg      #282828;
@define-color fg      #d4be98;
@define-color accent  #7daea3;
@define-color warn    #ea6962;
@define-color info    #d4be98;
@define-color border  #3c3836;

/*--------------------------------------------------------------------------------
 * General 
 *-------------------------------------------------------------------------------*/

* {
  font-family: Maple Mono NF;
  font-size: 13px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  border:0;
  border-top: 0;
  border-bottom: 0;
}

/*--------------------------------------------------------------------------------
 * Sections 
 *-------------------------------------------------------------------------------*/

.modules-left,
.modules-center,
.modules-right {
  border-top: 0;
  border-bottom: 0;
  border-color: @border;
}

.modules-left {
  border-left: 2px solid;
  border-color: @bg;
}

.modules-right {
  border-right: 2px solid;
  border-color: @bg;
}

/*--------------------------------------------------------------------------------
 * Left Modules 
 *-------------------------------------------------------------------------------*/

#workspaces {
  background-color: @bg;
  color: @fg;
  padding-left: 1em;
}

#workspaces button {
  color: @fg;
  padding: 0 6px;
}

#workspaces button:hover {
  background-color: @accent;
  color: #fff;
}

#workspaces button.active {
  color: @accent;
}

#workspaces button.active:hover {
  background-color: @accent;
  color: #fff;
}

#clock {
  background-color: @bg;
  padding: 0 1em;
  border-right: 2px solid @info;
}

/*--------------------------------------------------------------------------------
 * Right Modules 
 *-------------------------------------------------------------------------------*/

#cpu {
  padding: 0 0.5em 0 1em;
  border-left: 2px solid @fg;
}

#temperature,
#memory,
#pulseaudio {
  padding-left: 1em;
  padding-right: 0.5em;
}

#memory {
  margin-right: 1em;
}

#network {
  padding: 0 2em 0 1em;
}
